* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
          text-shadow: none;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
          text-shadow: none;
}
*::-webkit-input-placeholder {
}
body {
    font-family: 'Open Sans', sans-serif;
    // text-shadow: none;
    font-size: 12px;
}
p {
    margin-top: 0;
    margin-bottom: 0;
}
ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}
figure {
    margin: 0;
}
.ui-content {
    padding: 0;
}
.ui-tabs {
    padding: 0;
}
.ui-btn {
    text-shadow: none !important;
    &:active,
    &:focus,
    &:hover {
        box-shadow: none !important;
    }
    &.btn-primary {
        border: 0;
        padding-top: 0;
        padding-bottom: 0;
        margin: 0;
        background-color: #ff7214 !important;
        border-radius: 3px;
        color: #fff !important;
        text-shadow: none;
        font-weight: normal;
        letter-spacing: -1px;
    }
    &.btn-secondary {
        border: 0;
        padding-top: 0;
        padding-bottom: 0;
        margin: 0;
        background-color: #9e8a77 !important;
        border-radius: 3px;
        color: #fff !important;
        text-shadow: none;
        font-weight: normal;
        letter-spacing: -1px;
    }
    &.btn-linear {
        height: 45px;
        border: 1px solid #6e6253;
        margin-top: 0;
        margin-bottom: 0;
        color: #6e6253;
        font-size: 13px;
        line-height: 1.8em;
        border-radius: 3px;
        background-color: #fff;
    }
    &.btn-of-form {
        border: 0;
        padding-top: 0;
        padding-bottom: 0;
        margin: 0;
        background-color: #cbc3ba !important;
        border-radius: 3px;
        color: #fff !important;
        text-shadow: none;
        font-weight: normal;
        letter-spacing: -1px;
    }
}
.ui-input-text {
    margin-top: 0;
    margin-bottom: 20px;
    box-shadow: none;
    &.ui-focus {
        box-shadow: none;
        border: 1px solid #ff7214;
    }
    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="date"],
    input[type="file"],
    input[type="number"],
    input[type="time"] {
        min-height: 28px;
        padding: 15px 20px;
        line-height: 28px;
        font-size: 20px;
    }
}
textarea.ui-input-text {
    padding: 15px 20px;
    line-height: 28px;
    font-size: 20px;
    min-height: 200px;
    &.ui-focus {
        box-shadow: none;
        border: 1px solid #ff7214;
    }
}
.ui-select {
    margin-top: 0;
    margin-bottom: 20px;
    .ui-btn {
        border-radius: 3px;
        background-color: #fff;
        text-align: left;
        line-height: 28px;
        min-height: 28px;
        padding: 15px 20px;
        line-height: 28px;
        font-size: 20px;
        &.ui-shadow {
            background-color: #fff;
            box-shadow: none;
        }
        &.ui-focus {
            box-shadow: none;
            border: 1px solid #ff7214;
        }
        &.ui-btn-active {
            background-color: #fff;
        }
    }
}

// 메인
.main {
    background-color: #fff;
    #header {
        position: relative;
        height: 325px;
        text-shadow: none;
        .logo {
            overflow: hidden;
            position: absolute;
            top: 15px;
            left: 15px;
            padding: 0;
            margin: 0;
            z-index: 1;
        }
        .overview {
            position: relative;
            height: 325px;
            background-image: url(/images/bg_overview.jpg);
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: cover;
            color: #fff;
            .count,
            .rate {
                margin-top: 100px;
                text-align: center;
                color: #fff;
                strong {
                    display: block;
                    margin: 0 auto 10px;
                    width: 80px;
                    height: 40px;
                    line-height: 40px;
                    background-color: rgba(#fff, .2);
                    text-align: center;
                    font-size: 20px;
                    border-radius: 20px 20px 20px 20px;
                    font-weight: normal;
                }
            }
            .count {
                letter-spacing: -1px;
            }
            .profile {
                margin-top: 70px;
                img {
                    display: block;
                    width: 100px;
                    height: 100px;
                    margin: 0 auto;
                    background-color: blue;
                    border-radius: 50%;
                }
            }
            .greetings {
                margin-top: 40px;
                margin-bottom: 0;
                font-size: 40px;
                text-align: center;
                font-weight: normal;
                letter-spacing: -2px;
            }
        }
        .banner {
            display: block;
            width: 100%;
            height: 325px;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: cover;
        }
        .bx-controls {
            position: absolute;
            bottom: 20px;
            width: 100%;
            height: 7px;
            .bx-pager {
                text-align: center;
                .bx-pager-item {
                    display: inline-block;
                    width: 7px;
                    height: 7px;
                    margin: 0 3px;
                    .bx-pager-link {
                        display: block;
                        width: 100%;
                        height: 100%;
                        text-indent: -999em;
                        border-radius: 50%;
                        border: 1px solid #fff;
                        &.active {
                            background-color: #fff;
                        }
                    }
                }
            }
        }
    }
    #connect {
        height: 145px;
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: #e9e4de;
        letter-spacing: -2px;
        p:nth-of-type(1) {
            font-size: 20px;
            color: #796250;
            text-align: center;
        }
        p:nth-of-type(2) {
            margin-top: 10px;
            text-align: center;
            .btn-connect,
            .btn-disconnect {
                min-width: 165px;
                height: 38px;
                font-size: 18px;
                line-height: 38px;
            }
        }
    }
    #nav {
        ul {
            li {
                a {
                    display: block;
                    height: 125px;
                    padding-top: 80px;
                    padding-bottom: 20px;
                    font-size: 14px;
                    text-shadow: none;
                    letter-spacing: -1px;
                    word-spacing: -1px;
                    color: #87817a;
                    background-color: #fff;
                    &.ui-btn-active {
                        background-color: rgba(#ff7214, .2) !important;
                        border-color: rgba(#ff7214, .2) !important;
                    }
                }
                &:nth-of-type(1),
                &:nth-of-type(2),
                &:nth-of-type(3) {
                    a {
                        border-top: 0;
                        border-bottom: 0;
                    }
                }
                &:nth-of-type(1),
                &:nth-of-type(4) {
                    a {
                        border-left: 0;
                    }
                }
                &:nth-of-type(3),
                &:nth-of-type(6) {
                    a {
                        border-right: 0;
                    }
                }
                &:nth-of-type(1) {
                    a {
                        background-image: url(/images/ico_namecard.png);
                        background-size: 46px auto;
                        background-repeat: no-repeat;
                        background-position: 50% 38px;
                    }
                }
                &:nth-of-type(2) {
                    a {
                        background-image: url(/images/ico_prize.png);
                        background-size: 33px auto;
                        background-repeat: no-repeat;
                        background-position: 50% 34px;
                    }
                }
                &:nth-of-type(3) {
                    a {
                        background-image: url(/images/ico_note.png);
                        background-size: 30px auto;
                        background-repeat: no-repeat;
                        background-position: 50% 35px;
                    }
                }
                &:nth-of-type(4) {
                    a {
                        background-image: url(/images/ico_badge.png);
                        background-size: 40px auto;
                        background-repeat: no-repeat;
                        background-position: 50% 31px;
                    }
                }
                &:nth-of-type(5) {
                    a {
                        background-image: url(/images/ico_pencil.png);
                        background-size: 32px auto;
                        background-repeat: no-repeat;
                        background-position: 50% 31px;
                    }
                }
                &:nth-of-type(6) {
                    a {
                        background-image: url(/images/ico_user.png);
                        background-size: 34px auto;
                        background-repeat: no-repeat;
                        background-position: 50% 31px;
                    }
                }
            }
        } 
        .news {
            position: relative;
            padding: 10px;
            height: 55px;
            p {
                padding-right: 90px;
                a {
                    margin-top: 0;
                    margin-bottom: 0;
                    padding-top: 0;
                    padding-bottom: 0;
                    padding-left: 20px;
                    border: 0;
                    background-color: #fff;
                    background-image: url(/images/ico_paper_orange.png);
                    background-size: auto 14px;
                    background-repeat: no-repeat;
                    background-position: 0 50%;
                    font-size: 12px;
                    line-height: 35px;
                    letter-spacing: -1px;
                    text-align: left;
                }
            }
            > .btn-more {
                position: absolute;
                top: 10px;
                right: 15px;
                margin-top: 0;
                margin-bottom: 0;
                padding: 0 0 0 15px;
                width: 80px;
                height: 35px;
                background-color: #efece9;
                font-size: 12px;
                color: #6a594a;
                border: 0;
                line-height: 35px;
                background-image: url(/images/ico_plus.png);
                background-repeat: no-repeat;
                background-position: 10px 50%;
                background-size: 8px 8px;
            }
        }
    }
}
#popupConnect-screen {
    opacity: .85;
}
#popupConnect {
    border: 0;
    border-radius: 0;
    box-shadow: none;
    background-color: transparent;
    text-shadow: none;
    p {
        padding-top: 35px;
        margin-top: 0;
        margin-bottom: 20px;
        color: #ff6600;
        font-size: 13px;
        letter-spacing: -1px;
        text-align: center;
        line-height: 1.4em;
        background-image: url(/images/ico_notify.png);
        background-repeat: no-repeat;
        background-position: 50% 0;
        background-size: 23px 23px;
    }
    ul {
        li {
            a {
                padding: 22px 0;
                text-align: center;
                background-color: transparent;
                text-shadow: none;
                color: #fff;
                font-size: 20px;
                font-weight: normal;
                letter-spacing: -2px;
                border-top-color: #bbb;
            }
            &:last-child {
                a {
                    border-bottom-color: #bbb;
                }
            }
        }
    }
    hr {
        height: 46px;
        width: 1px;
        border: 0;
        border-left: 1px solid #bbb;
        margin-top: 0;
        margin-bottom: 0;
    }
    .btn-close {
        display: block;
        width: 60px;
        height: 60px;
        padding: 0;
        border: 0;
        margin: 0 auto;
        background-color: transparent;
        img {
            width: 100%;
            height: 100%;
        }
    }
}

// 서브
.sub {
    background-color: #fff;
    .ui-header {
        height: 45px;
        border-bottom: 1px solid #ff7214;
        background-color: #fff;
        h1 {
            padding-top: 0;
            padding-bottom: 0;
            font-size: 14px;
            color: #444;
            line-height: 44px;
        }
        .ui-btn {
            top: 5px;
            height: 35px;
            padding: 0;
            border: 0;
            background-color: transparent;
            box-shadow: none;
            img {
                width: 100%;
            }
            &.ui-btn-left {
                left: 15px;
            }
            &.ui-btn-right {
                right: 15px;
            }
            &.btn-home {
                width: 35px; //27px;
                height: 35px; //21px;
                padding-left: 4px;
                padding-right: 4px;
                padding-top: 7px;
                padding-bottom: 7px;
            }
            &.btn-camera {
                right: 14px;
                width: 35px; //25px;
                height: 35px; //18px;
                padding-left: 5px;
                padding-right: 5px;
                padding-top: 8px;
                padding-bottom: 8px;
            }
            &.btn-back {
                left: 11px;
                width: 35px; //17px;
                height: 35px; //17px;
                padding-left: 8px;
                padding-right: 8px;
                padding-top: 8px;
                padding-bottom: 8px;
            }
        }
    }
    .ui-content {
        .section-header {
            min-height: 145px;
            h2 {
                position: relative;
                padding-top: 30px;
                margin-top: 0;
                margin-bottom: 15px;
                text-align: center;
                img {
                    width: 130px;
                }
            }
            p {
                text-align: center;
                font-size: 18px;
                color: #fff;
                letter-spacing: -1px;
            }
        }
    }
}

// bbb id
.bbbid {
    background-image: url(/images/bg_bbbid.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    .ui-content {
        margin: 40px;
        background-color: #fff;
        border-radius: 10px;
        
        h2 {
            padding-top: 12px;
            height: 63px;
            margin-top: 0;
            margin-bottom: 0;
            background-color: #ff7214;
            text-align: center;
            border-top: 3px solid rgba(0, 0, 0, .05);
            border-left: 3px solid rgba(0, 0, 0, .05);
            border-right: 3px solid rgba(0, 0, 0, .05);
            img {
                width: 98px;
            }
        }
        .content {
            padding: 20px 30px;
            border-bottom: 3px solid rgba(0, 0, 0, .05);
            border-left: 3px solid rgba(0, 0, 0, .05);
            border-right: 3px solid rgba(0, 0, 0, .05);
            .profile {
                border-bottom: 1px solid #ccc;
                margin-bottom: 20px;
                figure {
                    margin: 0;
                    padding-left: 45px;
                    padding-right: 45px;
                    img {
                        width: 100%;
                        
                    }
                }
                dl {
                    overflow: hidden;
                    padding-left: 5px;
                    padding-right: 5px;
                    margin-top: 15px;
                    margin-bottom: 15px;
                    font-size: 18px;
                    color: #444;
                    letter-spacing: -2px;
                    line-height: 1.8em;
                    dt {
                        float: left;
                        &:after {
                            padding-left: 3px;
                            padding-right: 3px;
                            content: ':';
                        }
                    }
                    dd {
                        margin-left: 0;
                    }
                }
            }
            .cert {
                p {
                    margin-bottom: 10px;
                    font-size: 13px;
                    color: #444;
                    text-align: center;
                    letter-spacing: -1px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}

// stats
.stats {
    .section-header {
        background-image: url(/images/bg_visual_stats.jpg);
        background-position: 50% 50%;
        background-size: cover;
        background-repeat: no-repeat;
        p {
            letter-spacing: -1px;
        }
    }
    .overview {
        height: 420px;
        background-color: #e9e4de;
        p {
            padding-top: 20px;
            padding-bottom: 20px;
            color: #6e6253;
            text-align: center;
            line-height: 1.6em;
            letter-spacing: -1px;
        }
        ul {
            margin-top: 0;
            margin-bottom: 0;
            li {
                margin-bottom: 20px;
                div {
                    overflow: hidden;
                    width: 145px;
                    height: 145px;
                    border: 2px solid #9e8a77;
                    border-radius: 50%;
                    margin: 0 auto;
                    text-align: center;
                    background-image: url(/images/bg_stats_overview.gif);
                    background-size: 5px 5px;
                    strong {
                        display: block;
                        margin-top: 35px;
                        color: #6e6253;
                        font-size: 12px;
                        letter-spacing: -1px;
                    }
                    hr {
                        width: 23px;
                        height: 2px;
                        margin-top: 10px;
                        margin-bottom: 10px;
                        text-align: center;
                        border-width: 0;
                        color: #9e8a77;
                        background-color: #9e8a77;
                    }
                    p {
                        height: 44px;
                        padding-top: 0;
                        padding-bottom: 0;
                        i {
                            color: #ff7214;
                            font-style: normal;
                            font-size: 20px;
                            letter-spacing: -1px;
                        }
                    }
                }
                &:nth-of-type(2),
                &:nth-of-type(3) {
                    div {
                        p {
                            line-height: 44px;
                            i {
                                font-size: 28px;
                            }   
                        }
                    }
                }
                &:nth-of-type(4) {
                    div {
                        a {
                            display: block;
                            width: 100%;
                            height: 100%;
                            padding-top: 50px;
                            color: #6e6253;
                            text-decoration: none;
                            background-image: url(/images/ico_arrow.png);
                            background-repeat: no-repeat;
                            background-size: 35px auto;
                            background-position: 50% 90px;
                            strong {
                                margin-top: 0;
                            }
                        }
                    }
                }
            }
        }
    }
    .history {
        padding: 30px 15px;
        h4 {
            margin-top: 0;
            margin-bottom: 15px;
            font-size: 16px;
        }
        table {
            width: 100%;
            table-layout: fixed;
            border-collapse: collapse;
            th, td {
                padding: 15px 0;
                margin: 0;
                text-align: center;
                color: #444;
            }
            thead {
                th {
                    border-top: 2px solid #a08d7a;
                    border-bottom: 2px solid #a08d7a;
                    background-color: #f8f7f5;
                }
            }
            tbody {
                td {
                    border-bottom: 1px solid #d9cdc1;
                }
            }
        }
        .btn-more {
            margin-top: 20px;
        }
    }
}

// 마일스톤
.milestone {
    .list {
        padding-top: 30px;
        ul {
            margin-top: 0;
            margin-bottom: 0;
            li {
                margin-bottom: 25px;
                text-align: center;
                p {
                    margin-bottom: 10px;
                    img {
                        width: 95px;
                    }
                }
                strong {
                    color: #6a4b29;
                    letter-spacing: -1px;
                }
            }
        }
    }
}

// 쪽지
.note {
    background-color: #fff;
    .section-header {
        p {
            letter-spacing: -1px;
        }
    }
    &.main {
        background-image: url(/images/bg_note.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
        .intro {
            padding: 35px;
            margin-top: 25px;
            i {
                display: block;
                width: 100px;
                height: 100px;
                margin: 0 auto 30px;
                border-radius: 50%;
                background-color: rgba(255, 255, 255, .2);
                background-image: url(/images/ico_note_white.png);
                background-repeat: no-repeat;
                background-position: 50% 50%;
                background-size: 33px auto;
            }
            p {
                margin-bottom: 150px;
                color: #fff;
                font-size: 22px;
                line-height: 1.4em;
                text-align: center;
                letter-spacing: -1px;
            }
            .btn-send-note {
                height: 60px;
                font-size: 20px;
                line-height: 60px;
            }
        }
    }
    &.list {
        background-color: #fff;
        .section-header {
            padding-bottom: 30px;
            background-color: #fff;
            p {
                margin-bottom: 20px;
                color: #6e6253;
            }
            .btn-send-note {
                max-width: 230px;
                height: 45px;
                margin: 0 auto;
                font-size: 14px;
                line-height: 45px;
            }
        }
        .note-list {
            .ui-li-static.ui-collapsible > .ui-collapsible-heading {
                margin: 0;
            }
            .ui-li-static.ui-collapsible {
                padding: 0;
            }
            .ui-li-static.ui-collapsible > .ui-collapsible-heading > .ui-btn {
                border-top-width: 0;
            }
            .ui-li-static.ui-collapsible > .ui-collapsible-heading.ui-collapsible-heading-collapsed > .ui-btn,
            .ui-li-static.ui-collapsible > .ui-collapsible-content {
                border-bottom-width: 0;
            }
            ul {
                margin: 0;
                li {
                    border-top-color: #ddd6cd;
                    border-radius: 0;
                    background-color: #f2efeb;
                    &.ui-collapsible-collapsed {
                        background-color: #fff;
                    }
                    .label {
                        overflow: hidden;
                        float: left;
                        display: block;
                        width: 40px;
                        height: 35px;
                        padding: 35px 0 0 0;
                        margin-right: 15px;
                        line-height: 15px;
                        background-repeat: no-repeat;
                        background-size: 30px 30px;
                        background-position: 50% 0;
                        font-size: 11px;
                        text-align: center;
                        color: #9e8a77;
                        letter-spacing: -1px;
                        &.no-reply {
                            background-image: url(/images/ico_question_off.png);
                        }
                        &.reply-ok {
                            background-image: url(/images/ico_question_on.png);
                        }
                        &.comment {
                            margin-top: 20px;
                            background-image: url(/images/ico_answer.png);
                        }
                    }
                    h4 {
                        a {
                            padding: 15px 45px 0 15px;
                            border: 0;
                            background-color: transparent;
                            font-size: 14px;
                            line-height: 35px;
                            font-weight: normal;
                            text-decoration: none;
                            color: #333;
                            &:after {
                                top: 32px;
                                right: 15px;
                            }
                            &.ui-icon-carat-u:after {
                                background-image: url(/images/ico_caret_u.png);
                                background-size: 16px auto;
                                background-position: 50% 50%;
                                background-color: transparent;
                            }
                            &.ui-icon-carat-d:after {
                                background-image: url(/images/ico_caret_d.png);
                                background-size: 16px auto;
                                background-position: 50% 50%;
                                background-color: transparent;
                            }
                        }
                        &.ui-collapsible-heading-collapsed {
                            .label {
                                height: 50px;
                                padding: 35px 0 0 0;
                            }
                            a {
                                padding: 15px 45px 15px 15px;
                            }
                        }
                    }
                    .ui-collapsible-content {
                        padding: 0 0 15px 0;
                        border: 0;
                        background-color: #f2efeb;
                        .question {
                            background-color: #f2efeb;
                            padding-left: 70px;
                            padding-right: 40px;
                            font-size: 12px;
                            white-space: normal;
                            text-overflow: clip;
                            line-height: 1.4em;
                        }
                        .answer {
                            padding-left: 15px;
                            padding-right: 15px;
                            margin-top: 20px;
                            p {
                                padding-top: 20px;
                                border-top: 1px solid #a18e7c;
                                font-size: 12px;
                                white-space: normal;
                                text-overflow: clip;
                                line-height: 1.4em;
                            }
                        }
                    }
                }
            }
            .btn-area {
                margin-top: 25px;
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    }
    &.write {
        .section-header {
            background-image: url(/images/bg_visual_note.jpg);
            background-position: 50% 50%;
            background-size: cover;
            background-repeat: no-repeat;
        }
        .note-form {
            padding: 25px 15px;
            .ui-input-text {
                margin-top: 0;
                margin-bottom: 20px;
            }
            textarea.ui-input-text {
                min-height: 200px;
            }
            .btn-submit {
                height: 75px;
                font-size: 20px;
            }
        }
    }
}

// 뉴스
.news {
    .news-list {
        ul {
            li {
                border-bottom: 1px solid #e9e4de;
                a {
                    display: block;
                    padding: 15px;
                    text-decoration: none;
                    letter-spacing: -1px;
                    figure {
                        img {
                            max-width: 100%;
                        }
                    }
                    h4 {
                        margin-top: 20px;
                        margin-bottom: 5px;
                        font-size: 16px;
                        color: #444;
                    }
                    small {
                        color: #666;
                        font-size: 12px;
                        font-weight: normal;
                        text-indent: 1px;
                    }
                }
            }
        }
        .btn-area {
            margin-top: 25px;
            margin-bottom: 25px;
            padding-left: 20px;
            padding-right: 20px;
        }
    }
    .news-view {
        padding: 15px;
        article {
            > header {
                padding-bottom: 15px;
                text-align: center;
                letter-spacing: -1px;
                border-bottom: 2px solid #6e6253;
                h2 {
                    margin-top: 10px;
                    margin-bottom: 5px;
                    font-size: 16px;
                    color: #444;
                }
                small {
                    font-size: 12px;
                    color: #666;
                }
            }
            > .content {
                padding-top: 20px;
                padding-bottom: 20px;
                border-bottom: 1px solid #6e6253;
                margin-bottom: 20px;
                font-size: 14px;
                line-height: 1.6em;
                color: #666;
                img {
                    max-width: 100%;
                }
            }
        }
        > .btn-area {
            .ui-btn {
                color: #6e6253;
            }
            .btn-prev {
                margin-left: 0;
                margin-right: 10px;
                background-image: url(/images/ico_arrow_l.png);
                background-repeat: no-repeat;
                background-size: 6px auto;
                background-position: 10% 50%;
            }
            .btn-next {
                margin-left: 10px;
                margin-right: 0;
                background-image: url(/images/ico_arrow_r.png);
                background-repeat: no-repeat;
                background-size: 6px auto;
                background-position: 90% 50%; 
            }
        }
    }
}

// 봉사이야기
.story {
    .section-header {
        padding-bottom: 30px;
        background-image: url(/images/bg_visual_story.jpg);
        background-position: 50% 50%;
        background-size: cover;
        background-repeat: no-repeat;
        p {
            margin-bottom: 20px;
            color: #fff;
        }
        .btn-write-story {
            max-width: 230px;
            height: 45px;
            margin: 0 auto;
            font-size: 14px;
            line-height: 45px;
        }
    }
    &.list {
        .ui-navbar {
            .ui-link {
                border: 0;
                padding: 0;
                height: 60px;
                line-height: 60px;
                color: #aea394;
                background-color: #f2efeb;
            }
            .ui-tabs-active {
                .ui-link {
                    color: #6e6253 !important;
                    background-color: #fff !important;
                }
            }
        }
        .story-list {
            > ul {
               > li {
                    border-bottom: 1px solid #e9e4de;
                    a {
                        display: block;
                        padding: 15px;
                        text-decoration: none;
                        font-size: 16px;
                        .label {
                            font-size: 14px;
                            color: #ff7214;
                        }
                        h4 {
                            margin-top: 5px;
                            margin-bottom: 5px;
                            font-size: 16px;
                            color: #444;
                        }
                        ul {
                            li {
                                display: inline;
                                font-size: 12px;
                                color: #666;
                                &:before {
                                    padding-left: 8px;
                                    padding-right: 10px;
                                    content: '|';
                                    color: #b6b0a9;
                                }
                                &:first-child:before {
                                    font-size: 10px;
                                    padding-left: 0;
                                    padding-right: 0;
                                    content: '';
                                }
                            }
                        }
                    }
                }
            }
            > .btn-area {
                margin-top: 25px;
                margin-bottom: 25px;
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    }
    &.write {
        background-color: #f2efeb;
        .story-form {
            padding: 25px 15px;
            .btn-submit {
                height: 75px;
                font-size: 20px;
            }
        }
    }
    &.view {
        .story-view {
            padding: 15px;
            article {
                > header {
                    padding-bottom: 15px;
                    text-align: center;
                    letter-spacing: -1px;
                    border-bottom: 2px solid #6e6253;
                    .label {
                        display: block;
                        margin-top: 10px;
                        font-size: 14px;
                        color: #ff7214;
                        font-weight: bold;
                    }
                    h2 {
                        margin-top: 5px;
                        margin-bottom: 5px;
                        font-size: 16px;
                        color: #444;
                    }
                    ul {
                        font-size: 12px;
                        color: #666;
                        li {
                            display: inline-block;
                            &:before {
                                padding-left: 3px;
                                padding-right: 5px;
                                content: '|';
                            }
                            &:first-child:before {
                                padding-left: 0;
                                padding-right: 0;
                                content: '';
                            }
                        }
                    }
                }
                > .content {
                    padding-top: 20px;
                    padding-bottom: 20px;
                    border-bottom: 1px solid #6e6253;
                    margin-bottom: 20px;
                    font-size: 14px;
                    line-height: 1.6em;
                    color: #666;
                    img {
                        max-width: 100%;
                    }
                }
            }
            > .btn-area {
                .ui-btn {
                    color: #6e6253;
                }
                .btn-prev {
                    margin-left: 0;
                    margin-right: 10px;
                    background-image: url(/images/ico_arrow_l.png);
                    background-repeat: no-repeat;
                    background-size: 6px auto;
                    background-position: 10% 50%;
                }
                .btn-next {
                    margin-left: 10px;
                    margin-right: 0;
                    background-image: url(/images/ico_arrow_r.png);
                    background-repeat: no-repeat;
                    background-size: 6px auto;
                    background-position: 90% 50%; 
                }
            }
        }
    }
}

// 마이페이지
.mypage {
    form {
        ::-webkit-input-placeholder {
            color: #6e6253;
        }
        fieldset {
            position: relative;
            display: block;
            padding: 50px 15px 15px;
            border-bottom: 1px solid #ddd6cd;
            background-color: #f2efeb;
            background-clip: border-box;
            legend {
                position: absolute;
                top: 15px;
                font-size: 16px;
                color: #6e6253;
                font-weight: bold;
                background-color: #f2efeb;
                &.required {
                    color: #ff7214;
                }
            }
            label {
                margin-bottom: 5px;
                font-size: 14px;
                color: #6e6253;
                font-weight: bold;
                letter-spacing: -1px;
            }
            .ui-select {
                margin-bottom: 10px;
                .ui-btn {
                    padding-top: 10px;
                    padding-bottom: 10px;
                    font-size: 13px;
                    line-height: 23px;
                    border-color: #cbc3ba;
                    text-shadow: none;
                }
            }
            .ui-input-text {
                margin-bottom: 10px;
                border-color: #cbc3ba;
                text-shadow: none;
                input {
                    padding-top: 10px;
                    padding-bottom: 10px;
                    font-size: 13px;
                    line-height: 23px;
                }
                &.ui-state-disabled {
                    opacity: 1;
                    background-color: #e5e1dc;
                }
            }
            > .ui-btn {
                margin-top: 0;
                margin-bottom: 10px;
                padding-top: 10px;
                padding-bottom: 10px;
                font-size: 13px;
                line-height: 23px;
                &.ui-shadow {
                    box-shadow: none;
                    background-color: #9e8a77;
                    border-color: #9e8a77;
                    color: #fff;
                }
            }
        }
        .help-block {
            font-size: 13px;
            color: #6c6760;
            line-height: 1.6em;
        }
        .info-block {
            margin-bottom: 10px;
            padding: 10px 10px 10px 35px;
            background-color: #9e8a77;
            color: #fff;
            background-image: url(/images/ico_info_circle.png);
            background-size: 15px 15px;
            background-position: 10px 10px;
            background-repeat: no-repeat;
        }
    }
    &.main {
        .mypage-main {
            ul {
                margin: 0;
                li {
                    a {
                        padding: 20px;
                        border-top-color: #e9e4de;
                        border-bottom-color: #e9e4de;
                        font-size: 16px;
                        background-color: #fff;
                        &:after {
                            background-image: url(/images/ico_arrow_r.png);
                            background-color: transparent;
                            background-size: 8px auto;
                        }
                    }
                }
            }
        }
    }
    &.edit-info {
        .edit-info-form {
            .info-username {
                margin-top: 0;
                margin-bottom: 0;
                width: 100%;
                height: 100px;
                line-height: 50px;
                font-size: 14px;
                font-weight: bold;
                dt {
                    float: left;
                    clear: left;
                    padding-left: 15px;
                    width: 80px;
                    height: 50px;
                    border-top: 1px solid #e9e4de;
                    color: #6e6253;
                    &:nth-of-type(1) {
                        border-top: 0;
                    }
                }
                dd {
                    height: 50px;
                    width: 100%;
                    margin-left: 80px;
                    border-top: 1px solid #e9e4de;
                    color: #000;
                    &:nth-of-type(1) {
                        border-top: 0;
                    }
                }
            }
            
            .btn-area {
                padding: 20px 15px;
                .ui-block-a {
                    padding-right: 10px;
                }
                .ui-block-b {
                    padding-left: 10px;
                }
                .ui-btn {
                    width: 100%;
                    height: 45px;
                    line-height: 45px;
                }
            }
        }
    }
    &.edit-pw {
        background-color: #f2efeb;
        .section-header {
            background-color: #fff;
            p {
                color: #6e6253;
            }
        }
        .btn-area {
            padding: 20px 15px;
            .ui-btn {
                height: 45px;
            }
        }
    }
    &.stop-service {
        .section-header {
            background-color: #fff;
            padding-bottom: 30px;
            p {
                color: #6e6253;
                i {
                    font-style: normal;
                    color: #ff7214;
                }
            }
        }
        .disable-service-form,
        .stop-service-form {
            fieldset {
                padding-bottom: 0;
                border-bottom: 0;
            }
            .btn-area {
                background-color: #F2EFEB;
                padding: 20px 15px;
                .ui-btn {
                    height: 45px;
                }
            }
        }
        .disable-service-form {
            border-bottom: 1px solid #ccc;
        }
        
    }
    &.restart-service {
        background-color: #f2efeb;
        .section-header {
            background-color: #fff;
            p {
                color: #6e6253;
                i {
                    font-style: normal;
                    color: #ff7214;
                }
            }
        }
    }
    &.service-terms {
        .terms-area {
            padding: 20px 15px;
            h2 {
                margin-top: 0;
                color: #ff7214;
                font-size: 18px;
            }
            h3 {
                margin-top: 15px;
                margin-bottom: 15px;
                padding-bottom: 10px;
                color: #6e6253;
                border-bottom: 1px solid #6e6253;
            }
            h4 {
                margin-top: 10px;
                margin-bottom: 5px;
            }
            p {
                line-height: 1.6em;
                color: #666;
            }
        }
    }
    &.set-config {
        .confirm-form {
            .ui-field-contain {
                overflow: hidden;
                padding: 15px;
                border-bottom: 1px solid #eae5df;
                label {
                    float: left;
                    margin-bottom: 0;
                    font-size: 16px;
                    font-weight: bold;
                    letter-spacing: -1px;
                    line-height: 37px;
                }
                .flipswitch-wrap {
                    float: right;
                    overflow: hidden;
                    width: 69px;
                    height: 37px;
                }
                .ui-flipswitch {
                    overflow: visible;
                    margin: 3px;
                    width: 60px;
                    height: 30px;
                    border-radius: 15px;
                    border: 0;
                    box-shadow: none;
                    &.ui-flipswitch-active {
                        padding-left: 30px;
                        background-color: #ff7214;
                    }
                    > .ui-btn {
                        top: -3px;
                        left: -3px;
                        width: 35px;
                        height: 35px;
                        border-radius: 50%;
                        border: 0;
                        background-color: #fff;
                        text-indent: -22px;
                        line-height: 33px;
                        font-size: 12px;
                        font-weight: normal;
                        text-transform: uppercase;
                        &.ui-shadow {
                            box-shadow: 1px 1px 1px rgba(0, 0, 0, .5) !important;
                        }
                    }
                    .ui-flipswitch-off {
                        margin: 0;
                        color: #666;
                        width: auto;
                        text-indent: -2px;
                        line-height: 28px;
                        text-transform: uppercase;
                        letter-spacing: -1px;
                        font-weight: normal;
                    }
                }
            }
        }
    }
}

// 아이디/비번 찾기
.find {
    background-color: #f2efeb;
    form {
        ::-webkit-input-placeholder {
            color: #6e6253;
        }
        fieldset {
            position: relative;
            display: block;
            padding: 50px 15px 15px;
            border-bottom: 1px solid #ddd6cd;
            background-color: #f2efeb;
            background-clip: border-box;
            legend {
                position: absolute;
                top: 15px;
                font-size: 16px;
                color: #6e6253;
                font-weight: bold;
                background-color: #f2efeb;
                &.required {
                    color: #ff7214;
                }
            }
            label {
                margin-bottom: 5px;
                font-size: 14px;
                color: #6e6253;
                font-weight: bold;
                letter-spacing: -1px;
            }
            .ui-select {
                margin-bottom: 10px;
                .ui-btn {
                    padding-top: 10px;
                    padding-bottom: 10px;
                    font-size: 13px;
                    line-height: 23px;
                    border-color: #cbc3ba;
                    text-shadow: none;
                }
            }
            .ui-input-text {
                margin-bottom: 10px;
                border-color: #cbc3ba;
                text-shadow: none;
                input {
                    padding-top: 10px;
                    padding-bottom: 10px;
                    font-size: 13px;
                    line-height: 23px;
                }
                &.ui-state-disabled {
                    opacity: 1;
                    background-color: #e5e1dc;
                }
            }
            > .ui-btn {
                margin-top: 0;
                margin-bottom: 10px;
                padding-top: 10px;
                padding-bottom: 10px;
                font-size: 13px;
                line-height: 23px;
                &.ui-shadow {
                    box-shadow: none;
                    background-color: #9e8a77;
                    border-color: #9e8a77;
                    color: #fff;
                }
            }
        }
        .help-block {
            font-size: 13px;
            color: #6c6760;
            line-height: 1.6em;
        }
        .info-block {
            margin-bottom: 10px;
            padding: 10px 10px 10px 35px;
            background-color: #9e8a77;
            color: #fff;
            background-image: url(/images/ico_info_circle.png);
            background-size: 15px 15px;
            background-position: 10px 10px;
            background-repeat: no-repeat;
        }
    }
    .section-header {
        border-bottom: 1px solid #ded7ce;
        background-color: #fff;
        h2 {
            color: #6e6253;
            font-size: 18px;
            letter-spacing: -1px;
            font-weight: normal;
        }
        p {
            color: #666!important;
            font-size: 13px!important;
            line-height: 1.8em;
        }
    }
    .ui-navbar {
        .ui-link {
            border: 0;
            padding: 0;
            height: 60px;
            line-height: 60px;
            color: #aea394;
            background-color: #ddd6cd;
            font-size: 14px;
        }
        .ui-tabs-active {
            .ui-link {
                color: #6e6253 !important;
                background-color: #f2efeb !important;
            }
        }
    }
    .find-form {
        fieldset {
            padding-bottom: 0;
            border-bottom: 0;
        }
        .btn-area {
            padding: 20px 15px;
            background-color: #f2efeb;
            .ui-block-a {
                padding-right: 10px;
            }
            .ui-block-b {
                padding-left: 10px;
            }
            .ui-btn {
                height: 45px;
                line-height: 45px;
            }
        }
        &.find-id-email,
        &.find-pw-email {
            border-bottom: 1px solid #ddd6cd;
        }
    }
}

// 로그인
.login {
    background-image: url(/images/bg_login.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    #header {
        padding-top: 120px;
        background-color: transparent;
        border: 0;
        color: #fff;
        text-align: center;
        .logo {
            margin-bottom: 15px;
            padding-top: 0;
            padding-bottom: 0;
        }
        p {
            font-size: 18px;
            font-weight: normal;
        }
    }
    .login-form {
        margin: 30px auto 0;
        max-width: 200px;
        ::-webkit-input-placeholder {
            color: #fff;
        }
        .ui-input-text {
            margin-bottom: 40px;
            border-radius: 0;
            background-color: transparent;
            border: {
                top: 0;
                left: 0;
                right: 0;
            }
            text-shadow: none;
            &.ui-focus {
                border-color: #fff;
            }
            &:last-child {
                margin-bottom: 0;
            }
            input {
                padding: 0;
                font-size: 13px;
                color: #fff;
            }
        }
        .help-find {
            margin-bottom: 45px;
            text-align: right;
            a {
                display: block;
                padding: 15px;
                font-size: 13px;
                color: #fff;
                text-decoration: none;
                font-weight: normal;
                background-image: url(/images/ico_arrow_r_xs.png);
                background-size: 5px auto;
                background-repeat: no-repeat;
                background-position: 100% 50%;
            }
        }
        .btn-area {
            .ui-btn {
                height: 55px;
            }
        }
    }
}